
    <!-- <footer class="py-1 mt-4" style="background-color: #435ebe;">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Intrusion</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Port Scanning</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Virus Scanning</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Security Headers</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Malware Detection</a></li>
            </ul>
          </div>
    
          <div class="col-6 col-md-2 mb-3">
            <h5>Vulnerability</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Repository Scanning</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cryptographic Failures</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">SQL Injection</a></li>
            </ul>
          </div>
    
          <div class="col-md-5 offset-md-1 mb-1 mt-5">
            <form>
              <h5>Intrusion Detection & Vulnerability Scanning</h5>
            </form>
          </div>
        </div>
    
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© 2025 Company, Inc. All rights reserved.</p>
        </div>
      </footer> -->
<div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2025 Company, Inc</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap">
            <h6>Intrusion Detection & Vulnerability Scanning</h6>
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="index.html" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="Intrusion_detection.html" class="nav-link px-2 text-body-secondary">Intrusion</a></li>
          <li class="nav-item"><a href="vulnerability.html" class="nav-link px-2 text-body-secondary">Vulnerability</a></li>
          <li class="nav-item"><a href="ContactUs.html" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
          <li class="nav-item"><a href="AboutUs.html" class="nav-link px-2 text-body-secondary">About Us</a></li>
        </ul>
      </footer>
</div>