{% set title = 'Login' %}
{% extends 'src/auth.html' %}

{% block content %}
<div id="container" class="container">
		<div class="row">
			<!-- SIGN IN -->
			<div class="col align-items-center flex-col sign-in" id="signInForm">
				<div class="form-wrapper align-items-center">
					<div class="form sign-in">
						<div class="input-group">
							<i class='bx bxs-user'></i>
							<input type="text" id="identifier" 	placeholder="username">
							<i class='bx bxs-lock-alt' ></i>
							<input type="password" style="margin-top: 9px;" id="password" placeholder="password">
						</div>
						

						<p id="error" style="color: red;"></p>
						<button onclick="showOTP()" id="verifyBtn">
							Login
						</button>
						<p><a onclick="toggleForgotPasswordForm()">Forgot password?</a></p>
						<p>
							<span>Don't have an account?</span>
							<b onclick="toggle()" class="pointer">Sign up here</b>
						</p>
					</div>
				</div>
			</div>
			<!-- SIGN IN END-->
		</div>
</div>
{% endblock %}
{% block js %}
<script src="assets/static/js/pages/auth/login.js"></script>
{% endblock %}