{% set title = 'Registration' %}
{% set filename = 'register.html' %}

{% extends 'src/auth.html' %}

{% block content %}
<div class="col align-items-center flex-col sign-up">
	<div class="form-wrapper align-items-center">
		<div class="form sign-up">
			<div class="input-group">
				<i class='bx bxs-user'></i>
				<input type="text" placeholder="Username">
			</div>
			<div class="input-group">
				<i class='bx bx-mail-send'></i>	
				<input type="email" placeholder="Email">
			</div>
			<div class="input-group">
				<i class='bx bxs-user'></i>
				<input type="number" placeholder="Phone Number">
			</div>
			<div class="input-group">
				<i class='bx bxs-lock-alt'></i>
				<input type="password" placeholder="Password">
			</div>
			<div class="input-group">
				<i class='bx bxs-lock-alt'></i>
				<input type="password" placeholder="Confirm password">
			</div>

			<button>
				Sign up
			</button>
			<p>
				<span>
					Already have an account?
				</span>
				<b onclick="toggle()" class="pointer">
					Sign in here
				</b>
			</p>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
    <script src="assets/static/js/pages/auth/register.js"></script>
{% endblock %}
