{% set title = 'Account Profile' %}
{% set filename = 'account-profile.html' %}

{% extends 'src/layouts/horizontal.html' %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/filepond/dist/filepond.min.css" rel="stylesheet" />

{% endblock%}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Account Profile</h3>
                <p class="text-subtitle text-muted">A page where users can change profile information</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="master.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <div class="avatar avatar-2xl">
                                <img id="profile-avatar-img" src="assets/static/images/faces/profile.jpg" alt="Avatar">
                                <i class="bi bi-pencil" id="edit-profile-image"></i>
                            </div>
                            <input type="file" id="profile-image-upload" accept="image/png, image/jpg, image/jpeg" style="display: none;" />
                            <button id="submit-profile-image" class="btn btn-primary mt-3" style="display: none;">Upload Image</button>
                            <!-- <h3 id="profile-name" class="mt-3">John Doe</h3>
                            <p id="profile-job" class="text-small">Junior Software Engineer</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <!-- edit-user-data -->
                        <div class="d-flex justify-content-end float-right" id="edit-data">
                            <a href="#" class="btn icon btn-primary" id="edit-btn"><i class="bi bi-pencil"></i> Edit</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>User Details</th>
                                    </tr>
                                </thead>
                                <tbody id="user-details">
                                    <!-- Data will be populated here dynamically -->
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="assets/extensions/filepond/filepond.css">
<link rel="stylesheet" href="assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.css">
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">
{% endblock %}
{% block js %}
<!-- Axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="assets/static/js/pages/account_profile.js"></script>
{% endblock %}
