{% set title = 'Form Layout' %}
{% set filename = 'form-layout.html' %}

{% extends 'src/layouts/horizontal.html' %}
{% block content %}
<!-- <h2>Scan Statistics Dashboard</h2> -->
  <!-- <div id="barChart"></div> -->
  <!-- <div id="line"></div> -->
  <!-- <div id="pieChart"></div> -->
  <!-- <div id="radialGradient"></div> -->
<section class="row">
    <div class="col-12 col-lg-12">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-header">
                        <h4>URL Inspection</h4>
                    </div>
                    <div class="card-body">
                        <div id="barChart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Scan results</h4>
                    </div>
                    <div class="card-body">
                        <div id="pieChart"></div>
                    </div>
                    
                </div> 
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="module" src="assets/static/js/pages/incpection-charts.js"></script>
<!-- <script type="module" src="assets/static/js/pages/charts.js"></script> -->
{% endblock %}