{% set title = 'User Dashboard' %}
{% set filename = 'index.html' %}

{% extends 'src/layouts/horizontal.html' %} <!-- changed from master.html -->

{% block styles %}
<link rel="stylesheet" href="/assets/scss/iconly.scss">
<link rel="stylesheet" href="/assets/scss/pages/simple-datatables.scss">
{% endblock %}

{% block content %}
<div class="page-heading">
    <h3>Dashboard</h3>
</div> 
<div class="page-content"> 
    <section class="row">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header chart-grid">
                            <!-- <h4>Vulnerability</h4> -->
                        </div>
                        <div class="card-body ">
                            <div id="port-scan-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card">
                        <div class="card-header chart-grid">
                            <!-- <h4>Scan results</h4> -->
                        </div>
                        <div class="card-body">
                            <div id="url-inspection-bar"></div>
                        </div>
                        
                    </div> 
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card d-flex">
                        <div class="card-header chart-grid">
                            <!-- <h4>Vulnerability Ratio</h4> -->
                        </div>
                        <div class="card-body">
                            <div id="file-inspection-bar"></div>
                        </div> 
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header chart-grid">
                            <!-- <h4>Vulnerability</h4> -->
                        </div>
                        <div class="card-body ">
                            <div id="combined-line-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card d-flex">
                      <div class="card-header">
                        <h4>Intrusion Ratio</h4>
                      </div>
                      <div class="card-body">
                        <div id="radialGradient"></div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </section>
</div>
{% endblock %}
<script>
    if (response.data.user.is_authenticated && response.data.user.role != 'admin') {
		window.location.href = "/error-403.html";
	}
</script>
{% block js %}
<!-- Need: Apexcharts -->
<script src="assets/static/js/pages/dashboard.js"></script>
<script src="assets/static/js/pages/simple-datatables.js"></script>
<script src="assets/static/js/pages/ui-chartjs.js"></script>
<script src="assets/extensions/chart.js/chart.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- <script src="assets/static/js/pages/charts.js"></script> -->
<script src="assets/static/js/pages/intrusion/intrusion_charts.js"></script>
<script src="assets/static/js/pages/dashboard_profile.js"></script>
{% endblock %}